body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.808);
}

header {
    background-color: #8B4513;
    color: #000000;
    padding: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

p {
    margin: 0.5rem 0;
    color: rgba(255, 255, 255, 0.808);
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product {
    width: 300px;
    border: 1px solid #8B4513;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.2);
    background-color: #000000;
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

.product h3 {
    margin-bottom: 0.5rem;
    color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #8B4513;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide.active {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .slider {
    height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    height: 50vh;
  }
}
